﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ThrowsException.aspx.cs" Inherits="ThrowsException" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
   
    </form>
</body>
</html>
